@model IEnumerable<TheLibraryIsOpen.Models.DBModels.Movie>
@{
    ViewData["Title"] = "Movie";

    int nb = Model.Count();

    string message = nb.ToString();

    if (nb < 2)
    {
        message += " Movie";
    }
    else
    {
        message += " Movies";
    }
    message += " found from TheLibraryIsOpen database";
}

<h2>@ViewData["Title"]</h2>
<h3>@message</h3>

<p>
    <a asp-controller="Movie" asp-action="Create" class="btn btn-info"><label class="glyphicon glyphicon-plus"></label>&nbsp; Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Director
            </th>
            <th>
                RunTime
            </th>
            <th>
                ReleaseDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-sm btn-success" asp-route-id="@item.MovieId"><label class="glyphicon glyphicon-edit"></label>&nbsp; Edit</a>
                    <a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@item.MovieId"><label class="glyphicon glyphicon-list"></label>&nbsp; Details</a>
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.MovieId"><label class="glyphicon glyphicon-trash"></label>&nbsp; Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
