@model TheLibraryIsOpen.Models.DBModels.Music
@{
    bool signedIn = User.Identity.IsAuthenticated;
    // get clientEmail
    string clientEmail = User.Identity.Name;
    Client client = await cm.FindByEmailAsync(clientEmail);
    bool isAdmin = client.IsAdmin;
}

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Music</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asin)
        </dd>
    </dl>
</div>
<div>
    @if (isAdmin)
    {
        <a asp-action="Edit" class="btn btn-sm btn-success" asp-route-id="@Model.MusicId"><label class="glyphicon glyphicon-edit"></label>&nbsp; Edit</a>
    }
    <a asp-area="" class="btn btn-sm btn-info" asp-action="Index">Back to List</a>
</div>
