@model TheLibraryIsOpen.Models.DBModels.Music
@using TheLibraryIsOpen.Controllers.StorageManagement
@using TheLibraryIsOpen.Controllers
@using TheLibraryIsOpen.Models.DBModels
@inject MusicCatalog musicCatalog


@{
    ViewData["Title"] = "Music";

    List<Music> musicList = await musicCatalog.GetAllMusicDataAsync();

    int numberOfMusic = musicList.Count;

    string message = numberOfMusic.ToString();

    if (numberOfMusic < 2)
    {
        message += " Music album";
    }
    else
    {
        message += " Music albums";
    }
    message += " found from TheLibraryIsOpen database";

    var style = "";

    int musicIndex = 0;
}

<h2>@ViewData["Title"]</h2>
<h3>@message</h3>

<p>
    <a asp-controller="Music" asp-action="Create" class="btn btn-info"><label class="glyphicon glyphicon-plus"></label>&nbsp; Create New</a>
</p>

@if (numberOfMusic != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asin)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var music in musicList as List<TheLibraryIsOpen.Models.DBModels.Music>)
            {
              
            <tr>
                <td>@music.Type</td>
                <td>@music.Title</td>
                <td>@music.Artist</td>
                <td>@music.Label</td>
                <td>@music.ReleaseDate</td>
                <td>@music.Asin</td>
                <td>
                    <div class="">
                        <a asp-action="Edit" class="btn btn-sm btn-success" asp-route-id="@music.MusicId"><label class="glyphicon glyphicon-edit"></label>&nbsp; Edit</a>
                        <a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@music.MusicId"><label class="glyphicon glyphicon-list"></label>&nbsp; Details</a>
                        <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@music.MusicId"><label class="glyphicon glyphicon-trash"></label>&nbsp; Delete</a>
                    </div>
                </td>
            </tr>

            }
        </tbody>
     </table>
     }
