@model List<TheLibraryIsOpen.Models.DBModels.Music>
@{
    ViewData["Title"] = "Music";



    int numberOfMusic = Model.Count;

    string message = numberOfMusic.ToString();

    if (numberOfMusic < 2)
    {
        message += " Music album";
    }
    else
    {
        message += " Music albums";
    }
    message += " found from TheLibraryIsOpen database";
}
<h2>@ViewData["Title"]</h2>
<h3>@message</h3>
<p>
    <a asp-controller="Music" asp-action="Create" class="btn btn-info"><label class="glyphicon glyphicon-plus"></label>&nbsp; Create New</a>
</p>
@if (numberOfMusic != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Title
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Label
                </th>
                <th>
                    Release Date
                </th>
                <th>
                    ASIN
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var music in Model)
            {

                <tr>
                    <td>@music.Type</td>
                    <td>@music.Title</td>
                    <td>@music.Artist</td>
                    <td>@music.Label</td>
                    <td>@music.ReleaseDate.ToShortDateString()</td>
                    <td>@music.Asin</td>
                    <td>
                        <div class="">
                            <a asp-action="Edit" class="btn btn-sm btn-success" asp-route-id="@music.MusicId"><label class="glyphicon glyphicon-edit"></label>&nbsp; Edit</a>
                            <a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@music.MusicId"><label class="glyphicon glyphicon-list"></label>&nbsp; Details</a>
                            <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@music.MusicId"><label class="glyphicon glyphicon-trash"></label>&nbsp; Delete</a>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
