@model IEnumerable<TheLibraryIsOpen.Models.PrintedLog>

@{
    ViewData["Title"] = "Index";
}
@{
    string clientID = (string)TempData["ClientID"];
    string copyID = (string)TempData["copyid"];
    string modelType = (string)TempData["modeltype"];
    string modelID = (string)TempData["modelid"];
    string date1 = "";
    string date2 = "";
    string time1 = "";
    string time2 = "";
    date1 = (string)TempData["date1"];
    date2 = (string)TempData["date2"];
    time1 = (string)TempData["time1"];
    time2 = (string)TempData["time2"];
    bool exactTime = (TempData["exacttime"] == null) ? false : true;
    string transac = (string)TempData["transc"];
    string datefilter = (string)TempData["datefilter"];
}

<h2>Transaction Logs</h2>
<div>
    <form asp-action="SearchTransactionHistory" method="post">
        <div>




            <div class="input-group " style="margin-left:0.5em;">
                <div class="row">
                <div >
                    <label class="col-sm-2">Client ID</label>
                    <input name="clientID" type="text" class="col-sm-3" placeholder="Client Name" value="@clientID">
                </div>
                <div >
                    <label class="col-sm-2">Model Copy ID</label>
                    <input name="copyID" type="text" class="col-sm-3" placeholder="CopyID" value="@copyID">
                </div>
                </div>
                <div class="row">
                <label class="col-sm-2">Date or Period</label>
                <select name="datetype" id="_datetype" class="col-sm-2" onchange="checkDatetype()">
                    <!option value="all" @(datefilter is null ? "selected" : "")>All</!option>
                    <!option value="date" @(datefilter == "date" ? "selected" : "")>Date</!option>
                    <!option value="period" @(datefilter == "period" ? "selected" : "")>Period</!option>
                </select>
                    </div>
                <div id="d1" display="none">
                    <div class="col-">
                        <input type="checkbox" id="_exact" value="@exactTime" /><label>Exact Time</label>
                    </div>
                    <div class="col-md">
                        <label>Date 1</label>
                        <input type="date" id="d1" name="date1" value="@date1">
                    </div>
                    <div class="col-md" id="t1" display="none">
                        <label>Time 1</label>
                        <input type="time" name="time1" value="@time1" />
                    </div>
                    <div class="col-md" id="d2" display="none">
                        <label>Date 2</label>
                        <input type="date" name="date2" value="@date2">
                    </div>
                    <div class="col-md" id="t2" display="none">
                        <label>Time 2</label>
                        <input type="time" name="time2" value="@time2" />
                    </div>
                </div>
                <div>
                    <label class="col-sm-2 ">Transaction Type</label>
                    <select name="transc" class="col-sm-2 ">
                        <!option value="" @(transac is null ? "selected" : "")>All</!option>
                        <!option value="Borrow" @(transac == "Borrow" ? "selected" : "")>Borrow</!option>
                        <!option value="Return" @(transac == "Return" ? "selected" : "")>Return</!option>
                    </select>
                </div>
                <span class="input-group-addon rounded-right">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

            </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Client
            </th>
            <th>
                Transaction
            </th>
            <th>
                Item Type
            </th>
            <th>
                Item Name
            </th>
            <th>
                Physical Copy ID
            </th>
            <th>
                Date of Transaction
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelCopyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionTime)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function checkDatetype() {
            var datetype = document.getElementsById("_datetype").value;
            var exact = document.getElementsById("_exact");
            var d1 = document.getElementsById("d1");
            var d2 = document.getElementsById("d2");
            var t1 = document.getElementsById("t1");
            var t2 = document.getElementsById("t2");
            if (datetype == "all") {
                exact.style.display = "none";
                d1.style.display = "none";
                d2.style.display = "none";
                t1.style.display = "none";
                t2.style.display = "none";

            }
            if (datetype == "date") {
                exact.style.display = "block";
                d1.style.display = "block";
                d2.style.display = "none";
                if (exact.value != "")
                    t1.style.display = "block";
                else
                    t1.style.display = "none";
                t2.style.display = "none";
            }
            if (datetype == "period") {
                exact.style.display = "block";
                d1.style.display = "block";
                d2.style.display = "block";
                if (exact.value != "") {
                    t1.style.display = "block";
                    t2.style.display = "block";
                }
                else {
                    t1.style.display = "none";
                    t2.style.display = "none";
                }
            }
        }
    </script>
}