@model IEnumerable<TheLibraryIsOpen.Models.DBModels.Log>

@{
    ViewData["Title"] = "Index";
}

<h2>Transaction Logs</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Client
            </th>
            <th>
                Transaction
            </th>
            <th>
                Item Type
            </th>
            <th>
                Copy ID
            </th>
            <th>
                Item ID
            </th>
            <th>
                Date of Transaction
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelCopyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTime)
            </td>
        </tr>
}
    </tbody>
</table>
