@model IEnumerable<TheLibraryIsOpen.Models.PrintedLog>

@{
    ViewData["Title"] = "Index";
}
@{
    string clientID = (string)TempData["ClientID"];
    string copyID = (string)TempData["copyid"];
    string modelType = (string)TempData["modeltype"];
    string modelID = (string)TempData["modelid"];
    string date1 = "";
    string date2 = "";
    string time1 = "";
    string time2 = "";
    date1 = (string)TempData["date1"];
    date2 = (string)TempData["date2"];
    time1 = (string)TempData["time1"];
    time2 = (string)TempData["time2"];
    bool exactTime = (TempData["exacttime"] == null) ? false : true;
    string transac = (string)TempData["transc"];
    string datefilter = (string)TempData["datefilter"];
}

<h2>Transaction Logs</h2>
<div>
    <form asp-action="SearchTransactionHistory" method="post">
        <div>




            <div class="input-group stylish-input-group" style="margin-left:0.5em;">
                <input name="clientID" type="text" class="form-control" placeholder="Client Name" value="@clientID">
                <input name="copyID" type="text" class="form-control" placeholder="CopyID" value="@copyID">
                <select name="modeltype" class="form-control ">
                    <!option value="" @(modelType is null ? "selected" : "")>All Types</!option>
                    <!option value="book" @(modelType == "book" ? "selected" : "")>Books</!option>
                    <!option value="movie" @(modelType == "movie" ? "selected" : "")>Movies</!option>
                    <!option value="music" @(modelType == "music" ? "selected" : "")>Music</!option>
                    <!option value="magazine" @(modelType == "magazine" ? "selected" : "")>Magazine</!option>
                </select>



                <select name="datetype" id="_datetype" class="form-control">
                    <!option value="all" @(datefilter is null ? "selected" : "")>All</!option>
                    <!option value="date" @(datefilter == "date" ? "selected" : "")>Date</!option>
                    <!option value="period" @(datefilter == "period" ? "selected" : "")>Period</!option>
                </select>

                <div id=""
                <input type="checkbox" id="_exact" value="@exactTime" /><label>Exact Time</label>
                <input type="date" id="d1" name="date1" value="@date1">
                <input type="date" id="d2" name="date2" value="@date2">

                <input type="time" id="t1" name="time1" value="@time1" />
                <input type="time" id="t2" name="time2" value="@time2" />

                <select name ="transc"class="form-control ">
                    <!option value="" @(transac is null ? "selected" : "")>All</!option>
                    <!option value="Borrow" @(transac == "Borrow" ? "selected" : "")>Borrow</!option>
                    <!option value="Return" @(transac == "Return" ? "selected" : "")>Return</!option>
                </select>

                <span class="input-group-addon rounded-right">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

            </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Client
            </th>
            <th>
                Transaction
            </th>
            <th>
                Item Type
            </th>
            <th>
                Item Name
            </th>
            <th>
                Physical Copy ID
            </th>
            <th>
                Date of Transaction
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelCopyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionTime)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function checkDatetype() {
            var datetype = document.getElementsById("_datetype").value;
            var exact = document.getElementsById("_exact");
            var d1 = document.getElementsById("d1");
            var d2 = document.getElementsById("d2");
            var t1 = document.getElementsById("t1");
            var t2 = document.getElementsById("t2");
            if (datetype == "all") {
                exact.style.hidden;
                d1.style.hidden;
                d2.style.hidden;
                t1.style.hidden;
                t2.style.hidden;

            }
            if (datetype == "date") {
                exact.style.display;
                d1.style.display;
                d2.style.hidden;
                if (exact.value != "")
                    t1.style.display;
                else
                    t1.style.hidden;
                t2.style.hidden;
            }
            if (datetype == "period") {
                exact.style.display;
                d1.style.display;
                d2.style.display;
                if (exact.value != "") {
                    t1.style.display;
                    t2.style.display;
                }
                else {
                    t1.style.hidden;
                    t2.style.hidden;
                }
            }
        }
    </script>
}